html {
  font-size: 62.5%; /* 62.5% es igual a 10px, 1 rem es igual a 10px */
  height: 100%;
  margin: 0;
}

h1 {
   text-align: center;
}
  
p {
  color: #FFF
}
  
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-gap: 1rem;
  background-color: #2196F3;
  padding: 1rem;
}

 /* Mobile */
 .grid-container {
  grid-template-areas:
  'header'
  'menu'
  'main'
  'right'
  'footer';
 }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .grid-container {
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
   }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .grid-container {
    grid-template-areas:
    'header header header header header header'
    '. . . menu menu menu'
    'main main main main right right'
    'footer footer footer footer footer footer';
   }
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#mario {
    height: 2rem;
    width: 2rem;
    /*margin: 0.5rem 0.5rem 0.5rem 0.5rem;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation-name: camina;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition-duration: 0.5s;
}

#mario:hover {
    animation-name: none;
    transform: translateY(-5px);
    background-image: url(./img/marioSalta.png);
}

@keyframes camina {
    0%   {background-image: url(./img/mario1.png);}
    25%   {background-image: url(./img/mario2.png);}
    50%   {background-image: url(./img/mario3.png);}
    75%   {background-image: url(./img/mario2.png);}
    100%   {background-image: url(./img/mario1.png);}
}
